<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xxk.wuhai.seacurity">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 7.0适配 -->
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/filepaths" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4f3f918f81b55264e2157d875ea5be5e" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".main.view.MainActivity"
            android:label="@string/app_name" android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity android:name=".guide.view.GuideActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.view.LoginActivity">

        </activity>
        <activity android:name=".msg.view.CompanyMsgActivity" />
        <activity android:name=".login.view.ForgetActivity" />
        <activity android:name=".main.view.UpdateUserInfoActivity" />
        <activity android:name=".main.view.SettingActivity" />
        <activity android:name=".work.view.SupplementSignActivity" >
        </activity>
        <activity android:name=".work.view.SignComfirmActivity" />
        <activity android:name=".work.view.SignActivity" />
        <activity android:name=".work.view.LocationUpdateActivity" />
        <activity android:name=".work.view.RecordFaileActivity" />
        <activity android:name=".work.view.RecordActivity" />
        <activity android:name=".contact.view.ContactActivity" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".contact.view.UserInfoActivity" />
        <activity android:name=".contact.view.AddImpressionActivity" />
        <activity android:name=".me.view.MeTAgActivity" />
        <activity android:name=".me.view.MeInfoActivity" />
        <activity android:name=".work.view.MyDutyActivity" />

        <!-- 替换原生极光推送接收器 -->
        <receiver
            android:name=".msg.recevi.MyReceiver"
            android:enabled="true"
            android:exported="false"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="xxk.wuhai.seacurity" />
            </intent-filter>
        </receiver>

        <activity android:name=".msg.view.NotifyMsgActivity" />
        <activity android:name=".msg.view.ExamineActivity" />
        <activity android:name=".msg.view.LeaveActivity" />
        <activity android:name=".msg.view.DutyMsgActivity" />
        <activity android:name=".work.view.CulActivity" />
        <activity android:name=".work.view.StudyActivity" />
        <activity android:name=".work.view.WebActivity" />
        <activity android:name=".work.view.ApplyActivity" />
        <activity android:name=".work.view.ApplyLeaveActivity" />
        <activity android:name=".work.view.CulListActivity" />
        <activity android:name=".work.view.CulDetailActivity" />
        <activity android:name=".work.view.MyAplyListActivity" />
        <activity android:name=".me.view.ElectIDcardActivity"></activity>
        <activity android:name=".work.view.SuggestActivity"/>
        <activity android:name=".work.view.SystemSettinActivity"/>
        <activity android:name=".work.TrajectoryActivity"/>
        <activity android:name=".msg.view.ExamineActivity2"/>
    </application>

</manifest>